<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.service.dao.OrderDetailDao">

    <select id="findReplyList" resultType="com.zbkj.common.model.order.OrderDetail">
        select od.* from eb_order_detail od
        left join eb_order o on o.order_no = od.order_no and o.status in (5,6) and o.is_user_del = 0 and o.level = 1
        where
        od.is_receipt = 1
        and od.is_reply = #{isReply}
        and od.uid = #{userId}
        and o.second_type in (0,2,5,6)
        order by od.id desc
    </select>

    <select id="findAfterSaleApplyList" resultType="com.zbkj.common.model.order.OrderDetail">
        select od.* from eb_order_detail od
        left join eb_order o on o.order_no = od.order_no
        where
        od.uid = #{uid}
        and od.product_type in (0,2)
        and od.pro_refund_switch = 1
        and o.status not in (0,6,9)
        and o.is_user_del = 0 and o.level = 1
        and o.refund_status &lt; 3
        and (od.apply_refund_num + od.refund_num) &lt; od.pay_num
        and o.group_buy_record_status in (10,99)
        <if test="keywords != '' and keywords != null ">
            and (od.order_no = #{keywords} or od.product_name like CONCAT('%', #{keywords}, '%'))
        </if>
        order by od.id desc
    </select>

    <select id="getSalesNumByDateAndProductId" resultType="java.lang.Integer">
        select IFNULL(sum(pay_num), 0) as pay_num from eb_order_detail
        where order_no in (SELECT order_no FROM `eb_order` where paid = 1 and is_del = 0 and date_format(pay_time, '%Y-%m-%d') = #{date})
        and product_id = #{proId}
    </select>

    <select id="getSalesByDateAndProductId" resultType="java.math.BigDecimal">
        select IFNULL(sum(price), 0) as price from eb_order_detail
        where order_no in (SELECT order_no FROM `eb_order` where paid = 1 and is_del = 0 and date_format(pay_time, '%Y-%m-%d') = #{date})
        and product_id = #{proId}
    </select>

    <select id="getAwaitReplyCount" resultType="java.lang.Integer">
        select count(*) from eb_order_detail od
        left join eb_order o on o.order_no = od.order_no and o.status in (5,6) and o.is_user_del = 0 and o.level = 1
        where
        od.is_receipt = 1
        and od.is_reply = 0
        and od.uid = #{userId}
        and od.product_type in (0,2,4,5,6)
    </select>
</mapper>
